*{
    margin: 0;
    padding: 0;
}
.PEDRO {
    background-color: rgb(27, 48, 168);
    display: flex;
    justify-content: center;
    padding: 24px;
}
.NASA{
    width: 100%;

}
.JORGE{
    display: flex;
    justify-content: right;
}
